@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Space Mono"), local("SpaceMono-Regular"),
       url("../../assets/fonts/space-mono-v4-latin-ext-regular.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../../assets/fonts/space-mono-v4-latin-ext-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  src: local("Space Mono Bold"), local("SpaceMono-Bold"),
       url("../../assets/fonts/space-mono-v4-latin-ext-700.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url("../../assets/fonts/space-mono-v4-latin-ext-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  @apply overflow-y-scroll bg-gray-100 font-space-mono;
}

mark {
  @apply bg-secondary-200;
}
